<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14659915251-22ormhr368au6mlii0tcma84secj494u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14659915251-22ormhr368au6mlii0tcma84secj494u</string>
	<key>API_KEY</key>
	<string>AIzaSyDIAVYN8jhD9tCOgJOpicX7Ci_ccM2SpIA</string>
	<key>GCM_SENDER_ID</key>
	<string>14659915251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.adorsys.mobile.companyCommute</string>
	<key>PROJECT_ID</key>
	<string>flutter-company-commute</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-company-commute.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14659915251:ios:68bfa44fb9843058a3d686</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-company-commute.firebaseio.com</string>
</dict>
</plist>